.height{
 height: 15rem; 
}

.pop-in{
  transition: all 0.4s ease;
  transform: scale(0);
  opacity: 0;
}

.pop-in.show{
  transform: scale(1);
  opacity: 1;
}

.pop-up{
  opacity: 0;
  transform: translateY(50px);
  transition:  all 0.3s ease;
}

.pop-up.show{
  transform: translateY(0);
  opacity: 1;
}

.bars {
  transition: transform 0.5s ease;
}


.swap{
  color: crimson;
}

.card{
  transform: 0.1s ease out;
  transform-style: preserve-3d;
  will-change: transform;
  perspective: 800px;
}

.card > div {
  pointer-events: none;
}
